<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.jinzora"
      android:versionCode="2" android:versionName="1.0beta">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
    	<service android:name=".playback.PlaybackService" android:process=":remote" android:exported="false" android:enabled="true">
    	</service>
        <activity android:label="@string/app_name" android:name=".Jinzora">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!--  joining a junction activity: set playback target -->
            <intent-filter>
                <action android:name="junction.intent.action.JOIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>
		<activity android:name="Preferences"></activity>
		<activity android:name="Player"></activity>
		<activity android:name="Browser"></activity>
		<activity android:name="Search"></activity>
		<activity android:name=".playback.players.views.JunctionBoxView" ></activity>
		
</application>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>





<uses-sdk android:minSdkVersion="1"></uses-sdk>
</manifest> 